---
import Layout from "@layouts/Layout.astro"
---

<Layout title="About Us - The Africa Conservancy Foundation" description="">
	<section class="h-[20em] w-full bg-cover relative" style="background-image: url('/images/kilimanjaro.jpg');">
		<div class="h-full bg-teal-600 bg-opacity-50"></div>
		<div class="grid place-items-center place-content-center h-full">
			<h1 class="absolute text-white text-4xl md:text-6xl top-12 text-center uppercase">
				About Us
			</h1>
		</div>
	</section>
	<section class="container mx-auto bg-white shadow-md rounded-lg p-4 mt-2">
		<p class="mt-4 text-2xl font-bold text-teal-600 leading-tight">
			The Africa Conservancy Foundation (ACF) is an authentic African organisation that purchases and secures critical wildlife habitat.
		</p>
		<div class="grid sm:grid-cols-2 gap-4 divide-x">
			<div class="mt-4">
				<p class="sm:mt-4 text-lg">
					ACF was the 1<sup>st</sup> Indigenous Kenyan NGO that led the effort to purchase and secure land for conservation.
				</p>
				<p class="sm:mt-4 text-lg">
					We provide expertise in solving existing and emerging conservation problems in Kenya. Our work ensures sustainability of conservancies, supports and motivates public and private land owners to set aside land for conservation and invests in good land and wildlife management. 
				</p>
				<p class="text-brown-600 font-bold mt-4 text-2xl sm:mt-6">
					Over the last two decades, conservancies have assumed a central role in the protection of wildlife habitats and biodiversity in Africa.
				</p>
			</div>
			<div class="mt-4 place-items-center place-content-center">
				<img src="/images/habitat.jpg" class="sm:pl-16 object-cover h-72">
			</div>
		</div>
	</section>
	<section class="container mx-auto bg-white shadow-md rounded-lg p-4 mt-8">
		<h2 class="text-teal-600 text-2xl uppercase font-extrabold text-center">
			What we do
		</h2>
		<p class="block mt-6 text-lg">ACF builds mutually beneficial relationships with landowners and investors to protect wildlife and habitats. We achieve this by leveraging our multi-disciplinary and extensive global experience in conservation and sustainable business practices. </p>
	</section>
	<section class="container mx-auto bg-white shadow-md rounded-lg p-4 mt-8 mb-8">
		<h2 class="text-teal-600 text-2xl uppercase font-extrabold text-center">
			Meet the founder
		</h2>
		<div class="grid sm:grid-cols-2 gap-4 divide-x place-items-center mt-6 sm:mt-12">
			<div>
				<p class="text-lg">
					Michael is a visionary leader who believes in the conservation of wildlife. He founded this organization with the aim of achieving proper conservation for wildlife across Africa in order to prevent the extinction of wildlife species and habitats in the continent.
				</p>
				<a href={`/meet-the-founder`} class="mt-8 inline-flex items-center bg-teal-600 px-8 py-3 text-white">
	        <span class="text-sm font-medium">
	        	Read More
	        </span>
	      </a>
			</div>
			<img src="/images/michael.jpg" class="rounded-lg">
		</div>
	</section>
	<!-- Add a good video if one exists -->
</Layout>