---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Contact Us" description="">
	<section class="h-[29em] w-full bg-cover" style="background-image: url('/images/impala.jpeg');">
		<span class="bg-brown-600 h-full"></span>
		<h1 class="text-white text-4xl md:text-6xl pt-64 text-center uppercase">
			Connect with us today
		</h1>
	</section>
	<section class="py-6 mt-2 container mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-2 md:divide-x">
			<div class="py-6 md:py-4 px-4 bg-white">
				<p class="pt-2 md:pt-6 pb-4 md:pb-16">Please connect with us if you would like to learn more about becoming a supporter or if you have a question or simply need more information. We look forward to hearing from you.</p>
				<div class="space-y-4">
					<p class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
							<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
						</svg>
						<span>Suite M6, Jadala Place, <br>Ngong Lane Off Ngong Road</span>
					</p>
					<p class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
							<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
						</svg>
						<span>+254 722 523 456</span>
					</p>
					<p class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
							<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
							<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
						</svg>
						<span>mwamithi@africa-conservancy.org</span>
					</p>
				</div>
			</div>
			<form novalidate="" class="flex flex-col py-6 space-y-6 md:px-6 bg-white">
				<label class="block">
					<span class="mb-1">Full name</span>
					<input type="text" placeholder="Please enter your full name" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-gray-600 border-brown-600">
				</label>
				<label class="block">
					<span class="mb-1">Email address</span>
					<input type="email" placeholder="Please enter your email address" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-gray-600 border-brown-600">
				</label>
				<label class="block">
					<span class="mb-1">Reason for contacting us today</span>
					<textarea rows="3" class="block w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-gray-600 border-brown-600"></textarea>
				</label>
				<button type="button" class="px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 focus:ring-gray-600 hover:ring-gray-600 bg-teal-600 text-white">Submit</button>
			</form>
		</div>
	</section>
	<section class="container mx-auto bg-white mb-2 shadow-md p-4">
		<iframe width="720" height="320" id="gmap_canvas" src="https://maps.google.com/maps?q=jadala%20place&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="w-full"></iframe>
	</section>
</Layout>