---
import Layout from '@layouts/Layout.astro'

//Load News items
const res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=27&_embed&per_page=20&sort=desc`)
const data = await res.json()
---

<Layout title="News" description="">
	<!--<section class="h-[28em] w-full relative bg-cover h-full relative" style="background-image: url('/images/grass.jpg');">
		<div class="h-full bg-teal-600 bg-opacity-30"></div>
		<div class="grid place-items-center place-content-center h-full">
			<h1 class="absolute text-white text-4xl md:text-6xl top-64 text-center uppercase">
				News
			</h1>
		</div>
	</section>-->
	<section class="container p-4 mx-auto mt-24">
		<div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
			{
				data.map((item) => (
					<div class="mx-auto group hover:no-underline focus:no-underline bg-white p-4 shadow-xl">
						<div class="relative">
							<img role="presentation" class="object-cover w-full h-56" src={item._embedded["wp:featuredmedia"] ? item._embedded["wp:featuredmedia"][0].media_details.sizes.full.source_url : ''} />
						</div>
						<div class="space-y-8">
							<h3 class="text-lg font-bold text-teal-600">{item.title.rendered}</h3>
							<div class="prose prose-sm" set:html={item.excerpt.rendered}></div>
						</div>
						<a href={`/news/${item.slug}`} class="block mt-6">
							<button class="bg-teal-600 p-2 text-white">Read More</button>
						</a>
					</div>
				))
			}
		</div>
	</section>
</Layout>
